
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// General Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #109d48;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// CRUZ VERDE CORLORS
$cv_light_gray: #f5f5f5;
$cv_green: #109d48;
$dark_blue: #003366;

$primary: $dark_blue;
$success: $cv_green;